.Sidebar-Main{
    min-width: 30%;
    height: 100%;
    overflow: hidden;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 4px 0 var(--secondary);
}

.Sidebar-header{
    padding: 0.5em 1em;
    justify-content: space-between;
}

.Sidebar-newChat{
    cursor: pointer;
}

.Sidebar-avatar{
    cursor: pointer;
    width: 40px;
    height: 40px;
}

/* .Sidebar-avatar svg{
    border-radius: 100%;
} */

.Sidebar-search{
    background-color: var(--secondary);
    padding: 0.5em 1em;
    gap: 1em;
}

.Sidebar-input{
    background-color: var(--secondary-alt);
    padding: 0.2em 1em;
    border-radius: 0.4em;
    width: 100%;
    justify-content: space-between;
}

.Sidebar-input input{
    background-color: var(--secondary-alt);
    color: var(--white);
    border: none;
    outline: none;
    padding: 0 2em;
    width: 100%;
}

.Sidebar-input input::placeholder{
    color: var(--grey);
}

.Sidebar-search > svg{
    cursor: pointer;
}

.Sidebar-chatList{
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 15px;
  }